<div id="<%= dom_id coin %>">
  <p>
    <strong>Description:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Url image:</strong>
    <img src="<%= coin.url_image %>" alt="Minha Figura" width="30px"  height="30px">
    
  </p>
</div>
